<div class="cover">
  <div class="container py-5">
    <img src="vapplogo.png"></img>
    <h2 class="title fw-bold">BaixaTudo.vapp</h2>
    <div class="cover-description">
    </div>
    <form action="/download" method="post">
      <input
        type="text"
        name="video_url"
        class="form-control"
        placeholder="Insira aqui um link..."
      />
      <div class="mt-3">
        <button type="submit" class="cover-button btn">Baixar</button>
      </div>
    </form>
  </div>
</div>
